div {
    width: 25px;
    height: 3px;
    /* background-color: black;  */
    margin: 3px 0;
  }

.logo {
     position: absolute;
     right: -63%;
     width: 850px;
    max-width: 100%;
    
}
 
  body {
    background-color: rgba(87, 116, 116, 0.325);
  }



.topnav{
    
    margin-left: 03%;
    position: absolute;
    top: 0.5%;
}

.topnav :placeholder-shown {
  position: relative;
  left: 50px;
  top: 10px;
  width: 230px;
}

.menu {
  position: relative;
  left: -210px;
  top: 20px;
}
  
  


.fa-solid {
  position: relative;
  top: -23px;
  left: 260px;
}
.icon-bar {
    width: 60px; /* Set a specific width */
  /* background-color: rgba(6, 61, 61, 0.482); /* Dark-grey background */ 
  }
  
  .icon-bar a {
    position: relative;
    top: 27px;
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: rgb(255, 255, 255); /* White text color */
    font-size: 25px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #02747489; /* Add an active/current color */
  }

  
  nav ul {
    table-layout : auto;
    list-style-type : none;
    padding-left : 0;
    
    }
    nav li {
    /* margin-left : 30px; */
    display : inline-block;
    width : 15%;
    background-color: #02747489; 
    padding: 8px;
    opacity: 0.8;
    }
    nav {
      position: relative;
      top: 10px;
    font-size : large;
    color : black;
    text-decoration : none;
    text-align: center;
    margin-right: 5px;
    
    }
   
  
    .flex-container {
      display: inline-flex;
      flex-wrap: nowrap;
      /* background-color: rgba(66, 119, 128, 0.483); */
      padding-left: 80px;
    }
    
    .flex-container div {
     position: relative;
     right: -150px;
     top: -50px;
     
      margin: 30px;
      
     
      
      justify-content: center; 
      padding-right: 200px;
    }

    .flex-container div img {
      width: 200px; 
      padding: 20px;
      margin: 40px;
      justify-content: center;
      text-align: center;
    
    }

    .fa-arrow-right-long {
      position: relative;
      top: -110px;
      width: 200px;
      left: 1100px;
    }
  
    .grid {
      width: 100%;
      display: grid;
      grid:
        'image-4 image-5 image-6 image-7 image-8';
    }
  .grid div .image-4 {
    position: relative;
    left: 360px;
    top: 0px;
    
  }

  .grid div .image-5 {
    position: relative;
    left: 580px;
    top: -5px;
    
  }

  .grid div .image-6 {
    position: relative;
    left: 790px;
    top: -6px;
    
  }

  .grid div .image-7 {
    position: relative;
    left: 990px;
    top: -12px;
    
  }

  .grid div .image-8 {
    position: relative;
    left: 140px;
    top: -24px;
    height: 50px;
    
  }



  h2 {
    position: relative;
    left: 160px;
    top: -260px;
  }

  h2 {
    position: relative;
    left: 160px;
    top: -260px;
  }

  h3 {
    position: relative;
    left: 180px;
    top: -90px;
    font-size: x-large;
    
  }

  /* Contact Us page CSS */

  div form {
    position: relative;
    left: 100px;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */ 
    border-radius: 4px; /* Rounded borders */ 
  

  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
  
  
    
    box-sizing: border-box; /* Make sure that padding and width stays in place */ 
   margin-top: 6px; /* Add a top margin */ 
    margin-bottom: 16px; /* Bottom margin */ 
   /* resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   width: 750px;
  }


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #395f6674;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #1756546a;
}

/* Add a background color and some padding around the form */
.container input[type=text] {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 12px;
  
 
 
}

.Contact-footer {
  position: relative;
  top: 190px;
  width: 100%;
 border-bottom: 2opx;
}


  

  footer div {
    position: relative;
    /* left: 30px; */
    top: 220px;
    background-color: rgba(76, 132, 132, 0.537);
   height: 110px;
    width: 100%;
    font: larger;
  }

  footer div p {
    position: relative;
    left: 30px;
    top: 20px;
  }
  
  